{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="leadhead">Leads</h1>
</br>
<div>
    <table class="datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Source</th>
                <th>Model of Interest</th>
                <th>Phone No</th>
                <th>Last Attempt</th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for lead in user.leads %}
                    <td>{{ lead.id }}</a></td>
                    <td><a href="leads/{{ lead.id }}">{{ lead.name }}</a></td>
                    <td>{{ lead.email }}</a></td>
                    <td>{{ lead.source }}</a></td>
                    <td>{{ lead.model }}</a></td>
                    <td>{{ lead.phone }}</a></td>
                    <td>{{ lead.last }}</a></td>
                    <td>{{ lead.stage }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="adddiv">
        <button type="submit" class="button2">Add Lead</button>
    </div>
</div>
{% endblock %}