{% extends "base.html" %}
{% block title %}Leads{% endblock %}
{% block content %}
<h1 class="leadhead">Lead Profile</h1>
<div class="lead-container">
</br>
<form method="POST">
    <div class="lead-margin">
        <label class="lead-div1">name:</label>
        <textarea name="name" id="name" class="lead-div2" contenteditable="true">{{ id.name }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">email:</label>
        <textarea name="email" id="email" class="lead-div2" contenteditable="true">{{ id.email }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">phone number:</label>
        <textarea name="phone" id="phone" class="lead-div2" contenteditable="true">{{ id.phone }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">model of interest:</label>
        <textarea name="model" id="model" class="lead-div2" contenteditable="true">{{ id.model }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">last contacted:</label>
        <textarea name="last" id="last" class="lead-div2" contenteditable="true">{{ id.last }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">lead source:</label>
        <textarea name="source" id="soruce" class="lead-div2" contenteditable="true">{{ id.source }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">stage:</label>
        <textarea name="stage" id="stage" class="lead-div2" contenteditable="true">{{ id.stage }}</textarea>
    </div>
    <div class="lead-margin">
        <label class="lead-div1">notes:</label>
        <textarea name="note" id="note" class="lead-notes" contenteditable="true">{{ id.notes }}</textarea>
    </div>
    <div class="button-container">
        <button class="button3" type="submit">Save</button>
    </div>
</form>
<a href="/delete/{{ id.id }}" class="delete-button">Delete</a>
</div>
{% endblock %}